.data-visualizer {
  background: #EEE;
  position: relative;
  text-align: center;
  padding: 2.5em 1em 1em; }
  .data-visualizer-title {
    font-size: 1.25em;
    font-weight: 700; }
  .no-data .data-visualizer-wrapper {
    padding: 4em 0; }
  .data-visualizer-wrapper:empty {
    padding-bottom: 75%; }
    .data-visualizer-wrapper:empty:before {
      content: "Loading...";
      position: absolute;
      margin: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .data-visualizer svg {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    font-size: 16px;
    font-family: inherit !important; }
  .data-visualizer text {
    font-family: inherit !important; }
  .data-visualizer-axis line, .data-visualizer-axis path, .data-visualizer-grid line, .data-visualizer-grid path {
    stroke: #888; }
  .data-visualizer-axis text, .data-visualizer-grid text {
    fill: #888;
    font-size: .625em; }
  .data-visualizer-grid line, .data-visualizer-grid path {
    stroke-opacity: .25; }
  .data-visualizer-grid .tick-aligned line, .data-visualizer-grid .tick-aligned path {
    stroke-opacity: .625; }
  .data-visualizer-fill.no-color,
  .data-visualizer-no-palette .data-visualizer-item rect,
  .data-visualizer-no-palette .data-visualizer-item circle {
    fill: #444; }
  .data-visualizer .data-visualizer-line.no-color {
    stroke: #444; }
  .data-visualizer .data-visualizer-fill.no-color {
    fill-opacity: .25; }
  .data-visualizer-item-text {
    fill: #FFF;
    line-height: 2;
    font-size: 1em;
    font-weight: 700; }
    .data-visualizer-item-text.dark {
      fill: #222; }
  .data-visualizer-item-data-no-ticks .data-visualizer-item-data-0 {
    font-weight: 700;
    font-size: .75em; }
  .data-visualizer-item-data-no-ticks .data-visualizer-item-data-1 {
    font-size: 1.75em;
    font-weight: 300; }
  @media only screen and (max-width: 700px) {
    .data-visualizer {
      padding: .5em; } }
