$prefix: '.data-visualizer';

#{$prefix} {
    background: #EEE;
    position:relative;
    text-align: center;
    padding: 2em 1em 1em;

    &-wrapper {
        .no-data & {
            padding: 4em 0;
        }

        &:empty {
            padding-bottom: 75%;
            &:before {
                content:"Loading...";
                position: absolute;
                margin: auto;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }

    svg {
        display: block;
        width: 100%;
        max-width:100%;
        height:auto;
        margin: 0 auto;
        font-size: 16px;
        font-family: inherit!important;
        // outline: 1px solid red;
    }

    text {
        font-family: inherit!important;
    }

    &-axis,
    &-grid {
        line,path {
            stroke: #888;
        }

        text {
            fill: #888;
            font-size: .625em;
        }
    }

    &-grid {
        line,path {
            stroke-opacity: .5;
        }
    }
    &-no-palette {
        #{$prefix}-fill,
        #{$prefix}-item rect,
        #{$prefix}-item circle {
            fill: #222;
        }
        
        #{$prefix}-line {
            stroke: #222;
        }
        
        #{$prefix}-fill {
            fill-opacity: .25;
        }
    }

    &-item {
        

        &-text {
            fill: #FFF;
            line-height: 2;
            font-size: 1em;

            &.dark {
                fill: #222;
            }
            
        }

        &-data {
            // fill: #fff;data-visualizer-item-data-0 data-visualizer-item-data-non-numeric
            &-no-ticks {
            }

            &-no-ticks #{&}-0 {
                font-weight: 700;
                font-size: .75em;
            }
            &-no-ticks #{&}-1 {
                font-size: 1.75em;
                font-weight: 300;
            }
        }

        
    }

    @media only screen and (max-width: 700px){
        padding: .5em;
    }

}