$prefix: '.data-visualizer';

#{$prefix} {
    &-wrapper {
        background: #EEE;
        position:relative;
        text-align: center;
        padding: 1em;

        .no-data & {
            padding: 4em 0;
        }

        &:empty {
            padding-bottom: 75%;
            &:before {
                content:"Loading...";
                position: absolute;
                margin: auto;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }

    svg {
        display: block;
        width: 100%;
        max-width:100%;
        margin: 0 auto;
        // outline: 1px solid red;
    }

    rect,circle {
        fill: #666;
    }
}