
$prefix: '.data-visualizer';
$color-bg: #EEE;
$color-base: #222;
$color-neutral: #888;
$color-white: #FFF;
$color-neutral-light: #BBB;
$color-neutral-dark: #666;
$color-neutral-darker: #444;

// $color-base: #444;



#{$prefix} {
    background: $color-bg;
    position:relative;
    text-align: center;
    padding: 2.5em 1em 1em;

    // * { outline: 1px solid red!important}

    &-title {
        font-size: 1.25em;
        font-weight: 700;
    }

    &-wrapper {
        
        &.fatality {
            padding: 4em 0;
            max-width: 28em;
            font-size: .875em;
            margin: 0 auto;
        }

        &:empty {
            padding-bottom: 75%;
            &:before {
                content:"Loading...";
                position: absolute;
                margin: auto;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }

    svg {
        display: inline-block;
        width:100%;
        height:auto;
        margin: 0 auto;
        font-size: 16px!important;
        // line-height:1!important;
        font-family: inherit!important;
        // position:absolute;
        // top:0;
        // left:0;
        // // outline: 1px solid red;
    }

    text {
        font-family: inherit!important;
    }

    &-axis,
    &-grid,
    &-label{
        line,
        path {
            stroke: $color-neutral;
        }
        
        text {
            fill: $color-neutral;
        }
    }

    // &-axis,
    // &-grid,
    // &-legend {
        
    //     font-size: .75em;
    // }

    &-grid {
        
        line,path {
            stroke-opacity: .25;
        }

        .tick-aligned {
            line,path {
                stroke-opacity: .625;
            }
        }
    }
    
    &-fill.no-color,
    &-no-palette #{$prefix}-graph-item-blob {
        fill: $color-base;
    }
    
    &-line.no-color {
        stroke: $color-base;
    }
    
    &-fill.no-color {
        fill-opacity: .25;
    }

    &-no-palette#{$prefix}-type-pie {
        
        .graph-item-blob,
        .legend-item-blob {

            &:nth-of-type(2n){
                fill: $color-neutral-darker;
            }
            &:nth-of-type(3n){
                fill: $color-neutral-dark;
            }

            &:nth-of-type(4n){
                fill: $color-neutral;
            }

            &:nth-of-type(5n){
                fill: $color-neutral-light;
            }

        }
    }

    &-no-palette#{$prefix}-type-pie#{$prefix}-label-style-within .graph-item-text, 
    &-no-palette#{$prefix}-type-scatter .blob-item-blob {

        &:nth-of-type(2n){
            stroke: $color-neutral-darker;
        }
        &:nth-of-type(3n){
            stroke: $color-neutral-dark;
        }

        &:nth-of-type(4n){
            stroke: $color-neutral;
        }

        &:nth-of-type(5n){
            stroke: $color-neutral-light;
        }
    }

    &-type-line .graph-item-text,
    &-type-pie .graph-item-text,
    &-legend-item-text,
    &-legend-item-blob {
        paint-order: stroke;
        stroke-linejoin: round;
    }

    &-type-line .graph-item-text,
    &-type-pie#{$prefix}-label-style-within .graph-item-text,
    &-legend-item-text,
    &-legend-item-blob {
        stroke-width: 4;
    }

    &-type-pie#{$prefix}-label-style-linked .graph-item-text {

        stroke-width: 10;
    }


    &-type-line .graph-item-text,
    &-type-pie#{$prefix}-label-style-linked .graph-item-text,
    &-legend-item-text,
    &-legend-item-blob {
        stroke: $color-bg;
    }

    &-graph .graph-item {

        &-link {
            stroke: $color-base;
        }
        
        &-text {
            fill: $color-white;
            line-height: 2;
            font-weight: 700;

            &.dark {
                fill: $color-base;
            }
        }

        #{$prefix}-type-scatter &-blob {
            stroke-width: 1;
        }
            

        #{$prefix}-no-ticks &-text,
        #{$prefix}-type-pie#{$prefix}-no-legend &-text {

            &-data-0 {
                font-weight: 700;
            }
            &-data-1 {
                font-weight: 300;
            }

        }

        
    }

    @media only screen and (max-width: 700px){
        padding: .5em;
    }

}