.data-visualizer-wrapper { background: #EEE; position: relative; text-align: center; padding: 1em; }

.no-data .data-visualizer-wrapper { padding: 4em 0; }

.data-visualizer-wrapper:empty { padding-bottom: 75%; }

.data-visualizer-wrapper:empty:before { content: "Loading..."; position: absolute; margin: auto; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.data-visualizer svg { display: block; width: 100%; max-width: 100%; margin: 0 auto; }

.data-visualizer rect, .data-visualizer circle { fill: #666; }
